name: Validate

permissions: {}

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v6
        with:
          node-version: "24"

      - name: Install dependencies
        shell: bash
        run: |
          set -euo pipefail
          yarn install

      - name: Build assets
        shell: bash
        run: |
          set -euo pipefail
          yarn build

      - name: Check for changes
        shell: bash
        run: |
          set -euo pipefail
          git diff --exit-code --name-status

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          cache: false
          go-version: "1.25.x"

      - name: Test embedded assets
        shell: bash
        run: |
          set -euo pipefail
          go test ./...
