name: Validate

permissions: {}

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24"

      - name: Install yarn
        shell: bash
        run: |
          set -euo pipefail
          corepack enable && corepack prepare yarn@4 --activate

      - name: Install dependencies
        shell: bash
        run: |
          set -euo pipefail
          yarn install

      - name: Build assets
        shell: bash
        run: |
          set -euo pipefail
          yarn build

      - name: Check for changes
        shell: bash
        run: |
          set -euo pipefail
          git diff --exit-code --name-status

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          cache: false
          go-version: "1.25.x"

      - name: Test embedded assets
        shell: bash
        run: |
          set -euo pipefail
          go test ./...
